.chart{
    background: #338d30;
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background: rgba(241, 193, 193, 0.678);
    border-radius: 8px;
    
    .chartTitle{
        margin-bottom: 20px;
    }

}