.product{
    flex: 4;
    padding: 20px;
    background: rgb(48, 36, 36);

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .productTitle{
            color: rgb(176, 176, 255);
        }
        .addButton {
          width: 80px;
          border: none;
          padding: 5px;
          background-color: teal;
          color: white;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
        }
      }
      
      .bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .info1 {
          text-align: center;
          border-radius: 7px;
          padding: 5px;
            .InfoTop {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              .productName {
                font-weight: 600;
                margin-bottom: 10px;
                color: rgb(63, 146, 197);

              }
              .productInfoImg {
                width: 40px;
                height: 40px;
                border-radius: 5px;
                object-fit: cover;
                margin-bottom: 5px;
                margin-top: 5px;
              } 
          }

            .InfoBottom {
                margin-top: 10px;
                border-left: 1px solid rgb(219, 180, 180);
                border-right: 1px solid rgb(219, 180, 180);
                padding: 5px;
                border-radius: 5px;

                .InfoItem {
                    width: 150px;
                    display: flex;
                    justify-content: space-between;
                    color: rgb(118, 203, 255);
                .InfoValue {
                    font-weight: 300;
                }
            }
          }
        }
        
        .Form1 {
          display: flex;
          flex-direction: column;
          
          
          label {
            margin-bottom: 10px;
            color: rgb(160, 233, 255);
          }
          
          input {
            margin-bottom: 10px;
            border: none;
            padding: 5px;
            border-bottom: 3px solid rgb(41, 255, 244);
            border-radius: 7px;
          }
          
          select{
            margin-bottom: 10px;
            border-bottom: 3px solid rgb(10, 181, 255);
            border-radius: 7px;

          }
        }
      }  
        .Form2{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            .productUpload{
                display: flex;
                align-items: center;
                .pub{
                    color: rgb(48, 233, 214) !important;
                }
            }
            .productUploadImg{
                width: 100px;
                height: 100px;
                border-radius: 10px;
                object-fit: cover;
                margin-right: 20px;

            }
            .productButton{
                border: none;
                padding: 5px;
                border-radius: 5px;
                background-color: rgb(70, 70, 187);
                color:white;
                font-weight: 600;
                cursor: pointer;
                &:hover{
                    background-color: wheat;
                    color:blue;
                }
            }
        }
      
      

      
}